<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="../assets/css/login.css">


  <title>Iniciar Sesión</title>
</head>

<body>

  <main class="login-card">

    <div class="photo">
      <img src="#" alt="Foto quien inicia sesion" class="profile-image">
    </div>

    <header>
      <h1>Inciar Sesión</h1>
    </header>

    <form id="login-form">

      <div class="container-input">
        <input type="email" id="email" name="email" placeholder="Correo Electronico:" required>
      </div>

      <div class="container-input">
        <input type="password" id="password" name="password" placeholder="Contraseña: " required>
      </div>

      <div class="container-button">
        <button class="button" type="submit">INICIAR SESIÓN</button>
      </div>
      <div class="links">
        <a href="#" aria-label="Olvidaste tu contraseña">
          ¿Olvidaste tu contraseña?
        </a>
        <a href="#" aria-label="Registrarse">
          Registrarse
        </a>
      </div>

    </form>
  </main>


</body>

</html>